.addData {
    min-width: 300px;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 100;
    top: 120px;
    gap: 15px;
}

.inputContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}

.addData h3 {
    width: 100%;
    color: #8a2b2b;
    text-align: center;
    margin-bottom: 15px;
    font-size: 1.5rem;
    font-weight: 600;
}

.addData label {
    color: #333;
    min-width: 80px;
    font-size: 1rem;
    font-weight: 500;
}

.addData input {
    width: 100%;
    height: 35px;
    padding-left: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    outline: none;
    color: #333;
    font-size: 1rem;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

.addData input:focus {
    border-color: #007bff;
}

.dateInput {
    width: 100%;
    padding: 10px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.1);
    gap: 15px;
    margin: 10px 0;
    border-radius: 4px;
}
.dateInput input{
    background-color: #00000068;
}

.buttonGroup {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.item {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.theaterCard {
    width: 100%;
    padding-left: 20px;
    color: #000;
}

.theaterCard p {
    width: 100%;
    text-align: left;
    color: rgba(0, 0, 0, 0.8);
}

.movieForm {
    margin-bottom: 30px;
    width: 100%;
    max-width: 500px;
}

.movieForm input,
.movieForm textarea {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 15px;
}

.movieForm textarea {
    height: 100px;
    resize: vertical;
}

.movieForm input:focus,
.movieForm textarea:focus {
    border-color: #007bff;
    outline: none;
}

.error {
    width: 100%;
    text-align: left;
    padding: 5px;
    font-size: 0.9rem;
    color: red;
}
