.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  /* background-color: #8c8686; */
}

.inputField {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  color: black;
  background-color: rgba(255, 255, 255, 0.705);
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.inputField:focus {
  border-color: #0070f3;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 112, 243, 0.3);
}
.success, .fail{
  width: 100%;
  font-size: 12px;
  font-weight: 500;
  text-align: left;
  padding-left: 10px;
  /* margin-top: 5px; */
  /* background-color: #0070f3; */
  color: green;
}
.fail{
  color: red;
}




